body{
    text-align: center;
}

text {
    font-size: 11px;
    pointer-events: none;
    /*width:20em;*/
}

text.rootElement{
    display: none;
}

text.package,text.class {
    fill: brown;
    font-size: 13px;
}

text.class{
    fill: steelblue;
    font-size: 12px;
}

text.method {
    fill: #08182b;
    font-size:10px;
}

text.hidden
{
    display:none;
}

text.focus
{
    font-size: 15px;
    fill: red;
}

circle {
    /*fill: #ccc;*/
    stroke: #333333;
    pointer-events: all;
}

circle.rootElement
{
    display:none;
}

circle:hover
{
    cursor: pointer;
    stroke-width:2px;
    stroke:red;
}

circle.hidden 
{
    display:none;
}

