text {
    font-size: 11px;
    pointer-events: none;
    /*width:20em;*/
}

text.root{
    display: none;
}

text.parent {
    fill: brown;
    font-size: 12px;

}
text.child {
    fill: steelblue;
}

text.hidden
{
    /*visibility: hidden;*/
    /*display:none;*/
}

circle {
    fill: #ccc;
    stroke: #999;
    pointer-events: all;
}

/*circle.parent:hover*/
/*{*/
    /*cursor: pointer;*/
/*}*/

circle.root
{
    display:none;
}

circle.parent {
    fill: steelblue;
    fill-opacity: .1;
    stroke: steelblue;
}

circle.parent:hover, circle.child:hover {
    stroke-width: 2px;
    cursor:pointer;
}

circle.child {
    fill: mediumpurple;
    fill-opacity: .1;
    stroke: mediumpurple;
    /*visibility: hidden;*/
}

circle.hidden 
{
    /*visibility: hidden;*/
    /*display:none;*/
}




/*circle.child:hover*/
/*{*/
    /*stroke-width: .5px;*/
/*}*/

/*circle.child {*/
    /*pointer-events: none;*/
/*}*/
