text {
    font-size: 11px;
    pointer-events: none;
}

text.root{
    display: none;
}

text.parent {
    fill: steelblue;
}

circle {
    fill: #ccc;
    stroke: #999;
    pointer-events: all;
}

circle.root
{
    /*fill-opacity: 0;*/
    /*stroke-opacity: 0;*/
    display:none;
}

circle.parent {
    fill: steelblue;
    fill-opacity: .1;
    stroke: steelblue;
}

circle.parent:hover {
    stroke-width: .5px;
}

circle.child {
    pointer-events: none;
}
